@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */

/* Ensure AntD reset doesn't override the font */
html,
body {
  font-family: 'Inter', sans-serif !important;
}
html,
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.image-uploader-square-full {
  display: block !important;
  width: 100%;
}

.image-uploader-square-full .ant-upload.ant-upload-select,
.image-uploader-square-full .ant-upload-list-item-container {
  width: 100% !important;
  height: auto !important;
  aspect-ratio: 1 / 1;
}

.image-uploader-square-full .ant-upload-list-picture-card:not(:empty) {
  min-height: 0 !important;
}

.image-uploader-square-full .ant-upload-list-picture-card {
  width: 100%;
}

.image-uploader-square-full .ant-upload-list-item {
  height: 100% !important;
}
